.container-jumbotron {
    width: auto;
    height: auto;
}

.row-jumbotron {
    width: 300px;
    position: relative;
    p {
        line-height: 120px;
        margin: 0;
        padding: 0;
        font-stretch: expanded;
    }
}

.letters {
    &-dot {
        position: absolute;
        right: 50px;
        bottom: 0;
        color: var(--coredeiv-color-blood);
    }
}

section#hero-jumbotron {
    pointer-events: none;
    position: relative;
    img {
        position: absolute;
        width: auto;
        height: 100%;
        opacity: .5;
    }
}

.dot-animation {
    animation: infinite 3s dotBouncer;
    transition: cubic-bezier(.18,.89,.32,1.28);
}